<nav class="col col-sm-2 sidebar-nav border-right">
  <ul
    class="nav flex-column nav-pills py-1 border bg-light"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <%navlinks.forEach((nav)=>{%>
    <li class="m-1">
      <a
        class="nav-link btn btn-nav <%= active === nav._url ? 'active' : '' %>"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
        href="<%=nav._url%>"
        ><%=nav._nav%></a
      >
    </li>
    <%if(nav._nav === "All Book Instances") {%>
    <div class="line"></div>
    <%}%> <%})%>
  </ul>
  <p class="text-left text-secondary my-4">Created by: Neil Dela Cruz</p>
</nav>
