<div class="col col-sm-2 sidebar-nav" style="width: 25%">
  <ul
    class="nav flex-column nav-pills"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <%navlinks.forEach((nav)=>{%>
    <li>
      <a
        class="nav-link btn btn-nav"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
        href="<%=nav._url%>"
        ><%=nav._nav%></a
      >
    </li>
    <%if(nav._nav === "All Book Instances") {%>
    <div class="line"></div>
    <%}%> <%})%>
  </ul>
</div>
