body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
li {
  list-style: none;
}

.btn {
  text-align: left !important;
}

.line {
  height: 0.01rem;
  width: 100%;
  margin: 1rem 0;
  background-color: rgb(34, 33, 33);
}

.heading {
  padding: 0.2rem 1rem;
}

span {
  padding-left: 5px;
}

/* .sidebar-nav {
  position: fixed !important;
  top: 10vh;
  left: 0;
}

.library-container {
  position: fixed !important;
  right: 0;
} */

.count {
  margin-right: 100% !important;
}

.horizontal-line {
  height: 0.1rem;
  width: 100%;
  background-color: rgb(219, 214, 214);
}
