body {
  padding: 40px;
  font: 14px "PT Serif", serif !important;
  transition: all 0.5s ease-in-out;
}

li {
  list-style: none;
}

.btn {
  text-align: left !important;
}

.line {
  height: 0.01rem;
  width: 100%;
  margin: 1rem 0;
  background-color: rgb(34, 33, 33);
}

.heading {
  padding: 0.2rem 1rem;
}

span {
  padding-left: 5px;
}

.count {
  margin-right: 100% !important;
}

.horizontal-line {
  height: 0.1rem;
  width: 100%;
  background-color: rgb(219, 214, 214);
}

.booklist {
  padding: 12px !important;
}
/*page loader*/
/* Center the loader */
/* #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -76px 0 0 -76px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 */

form {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;

  border: 1px solid rgb(160, 159, 159);
  border-radius: 3px;
}

.form-label {
  font-weight: 500 !important;
}

.title-desc,
.genre-desc,
.author-desc {
  text-transform: capitalize;
}

#error {
  font-size: 14px;
}
